header
    if(page!=='index')
        .container
            .logo 
                img(src="./assets/shared/logo.svg", alt="")
            h1 design system
    else
        .logo 
            img(src="./assets/shared/logo.svg", alt="")
        .bars 
            img(class='burger' src="./assets/shared/icon-hamburger.svg", alt="")
            img(class='close' src="./assets/shared/icon-close.svg", alt="")
        nav.f-300 
            a.active(href='#' data-page='home')  #[span 00] home    
            a(href='#' data-page='destination')  #[span 01] destination
            a(href='#' data-page='crew')  #[span 02] crew
            a(href='#' data-page='technology')  #[span 03] technology
