@use "../helper/globalMixins" as global;
@use "../variables/colors" as *;
@use "../variables/fonts" as *;
@use "../variables/dimensions" as *;
$page: "design" !default;

header {
  @if ($page== "index") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: $nav-height;
    position: relative;
  }
  .logo {
    height: 48px;
    width: 48px;
    @include global.medias("mobile") {
      height: 40px;
      width: 40px;
    }
    @if ($page== "index") {
      // margin-left: 55px;
      position: relative;
      z-index: 100;
      @include global.medias("more small") {
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;

          width: 46px;
          height: 100%;
          z-index: 100;
          background-color: rgb($first-color);
        }
        &::after {
          right: 0;
          translate: 100%;
        }
        &::before {
          left: 0;
          translate: -100%;
        }
      }
    }
    img {
      width: 100%;
    }
  }
  // for design system
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: calc(24px / 16px) +#{"rem"};
      letter-spacing: 4.05px;
      line-height: 28.8px;
      text-align: right;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
  .bars {
    z-index: 10000;
    @include global.medias("more mobile") {
      display: none;
    }
    .burger {
      display: block;
    }
    .close {
      display: none;
    }
    &.active {
      + nav {
        display: flex;
      }
      .burger {
        display: none;
      }
      .close {
        display: block;
      }
    }
  }
  nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 165px 0 123px;
    &::after {
      content: "";
      background-color: rgb($white-color);
      opacity: 25.15%;
      left: 0;
      width: 473px;
      height: 1px;
      translate: calc(-100% + 30px);
      z-index: 10;
      display: none;
      @include global.centerbyposition("vertical", absolute);

      @include global.medias("more small") {
        display: block;
      }
    }
    @include global.medias("less large") {
      padding: 0 48px;
    }
    @include global.medias("mobile") {
      display: none;
      position: fixed;
      width: 70%;
      padding: 118px 32px 0;
      height: 100vh;
    }
  }
}
