@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Semi+Condensed&family=Bellefair&display=swap");
/* start global rules*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  padding-top: 96px;
}
@media (max-width: 767px) {
  body {
    padding-top: 129px;
  }
}
@media (min-width: 992px) {
  body {
    padding-top: 136px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .container {
    padding-inline: 24px;
  }
}

@media (max-width: 767px) {
  /* Small Devices => Landscape Phones */
  .container {
    max-width: 540px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  /* Medium Devices => Tablets */
  .container {
    max-width: 720px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  /* Desktops */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* Large Screens */
  .container {
    max-width: 1140px;
  }
}
.hidden {
  display: none !important;
}

.clear {
  clear: both;
}

body[data-page=home] {
  background-size: cover;
}
@media (min-width: 992px) {
  body[data-page=home] {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=home] {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
}
@media (max-width: 767px) {
  body[data-page=home] {
    background-image: url("../assets/home/background-home-mobile.jpg");
  }
}
body[data-page=home] section:not(.home) {
  display: none;
}

body[data-page=destination] {
  background-size: cover;
}
@media (min-width: 992px) {
  body[data-page=destination] {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=destination] {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
}
@media (max-width: 767px) {
  body[data-page=destination] {
    background-image: url("../assets/destination/background-destination-mobile.jpg");
  }
}
body[data-page=destination] section:not(.destination) {
  display: none;
}

body[data-page=crew] {
  background-size: cover;
}
@media (min-width: 992px) {
  body[data-page=crew] {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=crew] {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }
}
@media (max-width: 767px) {
  body[data-page=crew] {
    background-image: url("../assets/crew/background-crew-mobile.jpg");
  }
}
body[data-page=crew] section:not(.crew) {
  display: none;
}

body[data-page=technology] {
  background-size: cover;
}
@media (min-width: 992px) {
  body[data-page=technology] {
    background-image: url("../assets/technology/background-technology-desktop.jpg");
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=technology] {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
  }
}
@media (max-width: 767px) {
  body[data-page=technology] {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
  }
}
body[data-page=technology] section:not(.technology) {
  display: none;
}

/* end global rules  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 96px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
@media (min-width: 992px) {
  header {
    top: 40px;
  }
}
@media (max-width: 767px) {
  header {
    top: 33px;
  }
}
header .logo {
  height: 48px;
  width: 48px;
  position: relative;
  z-index: 100;
}
@media (max-width: 767px) {
  header .logo {
    height: 40px;
    width: 40px;
  }
}
@media (min-width: 992px) {
  header .logo::before, header .logo::after {
    content: "";
    position: absolute;
    top: 0;
    width: 46px;
    height: 100%;
    z-index: 100;
    background-color: rgb(11, 13, 23);
  }
  header .logo::after {
    right: 0;
    translate: 100%;
  }
  header .logo::before {
    left: 0;
    translate: -100%;
  }
}
header .logo img {
  width: 100%;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container h1 {
  font-size: 1.5rem;
  letter-spacing: 4.05px;
  line-height: 28.8px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 400;
}
header .bars {
  z-index: 10000;
  cursor: pointer;
}
@media (min-width: 768px) {
  header .bars {
    display: none;
  }
}
header .bars .burger {
  display: block;
}
header .bars .close {
  display: none;
}
header .bars.active + nav {
  z-index: 3000;
  right: 0;
  opacity: 1;
}
header .bars.active .burger {
  display: none;
}
header .bars.active .close {
  display: block;
}
header nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 165px 0 123px;
  transition: 0.5s;
}
@media (max-width: 1199px) {
  header nav {
    padding: 0 48px;
  }
}
@media (max-width: 767px) {
  header nav {
    position: fixed;
    width: 70%;
    padding: 118px 32px 0;
    height: 100vh;
    right: -1000px;
    z-index: -1;
    opacity: 0;
  }
}
header nav::after {
  content: "";
  background-color: rgb(255, 255, 255);
  opacity: 25.15%;
  left: 0;
  width: 473px;
  height: 1px;
  translate: calc(-100% + 30px);
  z-index: 10;
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 992px) {
  header nav::after {
    display: block;
  }
}

.f-900 {
  font-size: 9.375rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
  line-height: 10.75rem;
}
@media (max-width: 1199px) {
  .f-900 {
    line-height: 9.375rem;
  }
}
@media (max-width: 767px) {
  .f-900 {
    font-size: 80px;
    line-height: 6.25rem;
  }
}

.f-800 {
  font-size: 6.25rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
  line-height: 7.1875rem;
}
@media (max-width: 767px) {
  .f-800 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .f-800 {
    font-size: 5rem;
    line-height: 5.75rem;
  }
}

.f-700 {
  font-size: 3.5rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
  line-height: 4rem;
}
@media (max-width: 991px) and (min-width: 768px) {
  .f-700 {
    font-size: 2.5rem;
    line-height: 2.875rem;
  }
}
@media (max-width: 767px) {
  .f-700 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.f-600 {
  font-size: 2rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
  line-height: 2.3125rem;
}
.f-600.main-btn {
  letter-spacing: 0.125rem;
}
@media (max-width: 767px) {
  .f-600.main-btn {
    font-size: 1.25rem;
    line-height: 1.4375rem;
    letter-spacing: 0.078125rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .f-600.slider-2, .f-600.role {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .f-600.slider-2 {
    letter-spacing: 0.09375rem;
  }
}
@media (max-width: 767px) {
  .f-600.role, .f-600.slider-2 {
    font-size: 1rem;
    line-height: 1.125rem;
  }
  .f-600.slider-2 {
    letter-spacing: 0.0625rem;
  }
}

.f-500-ls, h2.section-head {
  font-size: 1.75rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  line-height: 2.125rem;
  letter-spacing: 4.76px;
}
@media (max-width: 767px) {
  .f-500-ls, h2.section-head {
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 2.7px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .f-500-ls, h2.section-head {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 3.375px;
  }
}

.f-500 {
  font-size: 1.75rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
  line-height: 2rem;
}

.f-400 {
  font-size: 1.125rem;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 2rem;
}
@media (max-width: 767px) {
  .f-400 {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .f-400 {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.f-300 {
  font-size: 1rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.1875rem;
  letter-spacing: 2.7px;
}
@media (max-width: 767px) {
  .f-300.tabs, .f-300.open-sent {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 2.35px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .f-300:not(.tabs) {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 2.35px;
  }
}

.f-200 {
  font-size: 0.875rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.0625rem;
  letter-spacing: 2.35px;
}

.tabs, nav {
  display: flex;
  justify-content: center;
}
.tabs a, nav a,
.tabs li,
nav li {
  display: block;
  text-transform: uppercase;
  position: relative;
  color: rgb(255, 255, 255);
}
.tabs a::after, nav a::after,
.tabs li::after,
nav li::after {
  content: "";
  transition: 0.5s;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  left: 0;
  bottom: 0;
  opacity: 0;
}
.tabs a.active::after, nav a.active::after,
.tabs li.active::after,
nav li.active::after {
  opacity: 1;
}
.tabs a:hover:after, nav a:hover:after,
.tabs li:hover:after,
nav li:hover:after {
  opacity: 50.21%;
}

nav {
  background-color: rgba(208, 214, 249, 0.04);
  -moz-backdrop-filter: blur(81.5485px);
  -webkit-backdrop-filter: blur(81.5485px);
  -ms-backdrop-filter: blur(81.5485px);
  -o-backdrop-filter: blur(81.5485px);
  backdrop-filter: blur(81.5485px);
}
@media (max-width: 767px) {
  nav {
    flex-direction: column;
    justify-content: flex-start;
  }
}
nav a {
  padding: 39px 0px 38px;
  word-spacing: 14px;
}
@media (max-width: 991px) and (min-width: 768px) {
  nav a {
    padding-inline: 2px;
  }
  nav a {
    font-size: 0.875rem;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    line-height: 1.0625rem;
    letter-spacing: 2.35px;
  }
  nav a span {
    display: none;
  }
}
nav a:not(:last-of-type) {
  margin-right: 48px;
}
@media (max-width: 991px) and (min-width: 768px) {
  nav a:not(:last-of-type) {
    margin-right: 37px;
  }
}
@media (max-width: 767px) {
  nav a {
    margin: 0;
    padding: 0px 0 20px;
    width: 100%;
  }
  nav a:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.tabs li {
  cursor: pointer;
  padding: 12px 3px;
}
.tabs li:not(:last-of-type) {
  margin-right: 35px;
}
@media (max-width: 767px) {
  .tabs li:not(:last-of-type) {
    margin-right: 27px;
  }
}

.main-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(11, 13, 23);
  text-transform: uppercase;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
  width: 274px;
  height: 274px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .main-btn {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .main-btn {
    width: 242px;
    height: 242px;
  }
}
.main-btn:hover {
  box-shadow: 0 0 0px 88px rgba(255, 255, 255, 0.1036);
}
@media (max-width: 991px) and (min-width: 768px) {
  .main-btn:hover {
    box-shadow: 0 0 0px 70px rgba(255, 255, 255, 0.1036);
  }
}
@media (max-width: 767px) {
  .main-btn:hover {
    box-shadow: 0 0 0px 46.5px rgba(255, 255, 255, 0.1036);
  }
}

.slider-1 {
  display: flex;
  justify-content: center;
}
.slider-1 li {
  background-color: rgb(255, 255, 255);
  opacity: 17.44%;
  transition: 0.5s;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .slider-1 li {
    width: 10px;
    height: 10px;
  }
}
.slider-1 li:not(:last-of-type) {
  margin-right: 24px;
}
@media (max-width: 991px) {
  .slider-1 li:not(:last-of-type) {
    margin-right: 16px;
  }
}
.slider-1 li.active {
  opacity: 100%;
}
.slider-1 li:hover {
  opacity: 50.01%;
}

@media (max-width: 991px) {
  .slider-2 {
    display: flex;
    column-gap: 16px;
    justify-content: center;
  }
}
.slider-2 li {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.25);
  letter-spacing: 2px;
}
@media (max-width: 991px) and (min-width: 768px) {
  .slider-2 li {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .slider-2 li {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 992px) {
  .slider-2 li:not(:last-of-type) {
    margin-block-end: 32px;
  }
}
.slider-2 li.active {
  background-color: rgb(255, 255, 255);
  color: rgb(11, 13, 23);
}
.slider-2 li:hover, .slider-2 li.active {
  border-color: rgb(255, 255, 255);
}

h2.section-head {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
h2.section-head span {
  display: inline-block;
  opacity: 0.25;
  margin-right: 28px;
}

body[data-page=home] {
  padding-bottom: 48px;
}
@media (min-width: 992px) {
  body[data-page=home] {
    padding-bottom: 131px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=home] {
    padding-bottom: 90px;
  }
}
body[data-page=home] .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 48px;
}
@media (min-width: 992px) {
  body[data-page=home] .container {
    flex-direction: row;
    align-items: flex-end;
    padding-top: 251px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=home] .container {
    padding-top: 106px;
  }
}
@media (max-width: 767px) {
  body[data-page=home] .container {
    justify-content: space-around;
  }
}
body[data-page=home] .container p {
  margin: 0;
  color: rgb(208, 214, 249);
}
body[data-page=home] .container .left p.first {
  text-transform: uppercase;
}
body[data-page=home] .container .left h1 {
  margin-block: 16px;
  text-transform: uppercase;
}
body[data-page=home] .container .left p.body {
  max-width: 444px;
}
@media (min-width: 1200px) {
  body[data-page=home] .container .right .main-btn {
    margin-right: 30px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=home] .container .right .main-btn {
    margin-top: 156px;
  }
}
@media (max-width: 767px) {
  body[data-page=home] .container .right .main-btn {
    margin-top: 81px;
  }
}

body[data-page=destination] {
  padding-bottom: 58px;
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=destination] {
    padding-bottom: 62px;
  }
}
body[data-page=destination] section.destination .container {
  padding-top: 24px;
  text-align: center;
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=destination] section.destination .container {
    padding-top: 40px;
  }
}
@media (min-width: 992px) {
  body[data-page=destination] section.destination .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-top: 76px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=destination] section.destination .container .left h2.section-head {
    text-align: left;
  }
}
body[data-page=destination] section.destination .container .left .img {
  width: 170px;
  height: 170px;
  margin: 32px auto 26px;
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=destination] section.destination .container .left .img {
    margin: 60px auto 53px;
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 992px) {
  body[data-page=destination] section.destination .container .left .img {
    margin: 97px 0 0 63.5px;
  }
}
@media (min-width: 1200px) {
  body[data-page=destination] section.destination .container .left .img {
    width: 445px;
    height: 445px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  body[data-page=destination] section.destination .container .left .img {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1200px) {
  body[data-page=destination] section.destination .container .right {
    width: 445px;
  }
}
@media (min-width: 992px) {
  body[data-page=destination] section.destination .container .right {
    margin-top: 64px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  body[data-page=destination] section.destination .container .right {
    width: 400px;
  }
}
@media (min-width: 992px) {
  body[data-page=destination] section.destination .container .right .tabs {
    width: fit-content;
  }
}
body[data-page=destination] section.destination .container .right .content {
  margin-top: 20px;
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=destination] section.destination .container .right .content {
    margin-top: 32px;
  }
}
body[data-page=destination] section.destination .container .right .content h2.name {
  text-transform: uppercase;
}
body[data-page=destination] section.destination .container .right .content p.description {
  padding-bottom: 32px;
  padding-inline: 1px;
  border-bottom: 1px solid rgb(56, 59, 75);
  margin-top: 1px;
  margin-bottom: 32px;
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=destination] section.destination .container .right .content p.description {
    margin-top: 8px;
    padding-bottom: 49px;
    margin-bottom: 28px;
    max-width: 573px;
    margin-inline: auto;
  }
}
body[data-page=destination] section.destination .container .right .content p,
body[data-page=destination] section.destination .container .right .content span {
  color: rgb(208, 214, 249);
}
@media (min-width: 768px) {
  body[data-page=destination] section.destination .container .right .content .measures {
    display: flex;
  }
}
@media (min-width: 992px) {
  body[data-page=destination] section.destination .container .right .content .measures {
    justify-content: flex-start;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=destination] section.destination .container .right .content .measures {
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  body[data-page=destination] section.destination .container .right .content .measures div:not(:last-of-type) {
    margin-bottom: 32px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=destination] section.destination .container .right .content .measures div {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  body[data-page=destination] section.destination .container .right .content .measures div:not(:last-of-type) {
    margin-right: 79px;
  }
}
body[data-page=destination] section.destination .container .right .content .measures div span {
  text-transform: uppercase;
  display: block;
}
body[data-page=destination] section.destination .container .right .content .measures div .label {
  margin-bottom: 12px;
}
body[data-page=destination] section.destination .container .right .content .measures div .num {
  color: rgb(255, 255, 255);
}

/*
  the design need to restyled
  there is overflow on slide on mobile media
*/
body[data-page=crew] .crew .container .content .info .info-cont .box, body[data-page=crew] .crew .container .content .img img {
  translate: -100vw;
  transition: 0.5s;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
body[data-page=crew] .crew .container .content .info .info-cont .showed.box, body[data-page=crew] .crew .container .content .img img.showed {
  position: static;
  translate: 0;
}
body[data-page=crew] .crew .container .content .info .info-cont .slided.box, body[data-page=crew] .crew .container .content .img img.slided {
  translate: 100vw;
}

body[data-page=crew] {
  position: relative;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  body[data-page=crew] {
    padding-bottom: 104px;
  }
}
body[data-page=crew] .crew .container {
  text-align: center;
  padding-top: 24px;
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=crew] .crew .container {
    padding-top: 40px;
  }
}
@media (min-width: 992px) {
  body[data-page=crew] .crew .container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 76px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=crew] .crew .container .content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  body[data-page=crew] .crew .container .content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=crew] .crew .container .content {
    margin-top: 60px;
  }
}
body[data-page=crew] .crew .container .content .img {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 767px) {
  body[data-page=crew] .crew .container .content .img {
    justify-content: center;
    margin: 32px auto 33px;
    border-bottom: 1px solid rgb(56, 59, 75);
    padding-inline: 74.62px;
    max-width: 327px;
    min-height: 200px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=crew] .crew .container .content .img {
    width: 456.37px;
    margin-inline: auto;
    min-height: 572px;
  }
}
@media (min-width: 992px) {
  body[data-page=crew] .crew .container .content .img {
    width: 568.07px;
    height: 712px;
  }
}
body[data-page=crew] .crew .container .content .img img {
  display: block;
  width: fit-content;
  object-fit: contain;
  min-width: 88px;
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=crew] .crew .container .content .img img {
    transform: translateY(40px);
    margin-inline: auto;
  }
}
@media (max-width: 767px) {
  body[data-page=crew] .crew .container .content .img img {
    transform: translateY(10px);
  }
}
body[data-page=crew] .crew .container .content .info {
  position: relative;
}
@media (max-width: 767px) {
  body[data-page=crew] .crew .container .content .info {
    padding-top: 42px;
  }
}
@media (min-width: 992px) {
  body[data-page=crew] .crew .container .content .info {
    margin-top: 154px;
  }
}
body[data-page=crew] .crew .container .content .info .info-cont {
  position: relative;
  width: 100%;
  min-height: 237px;
  margin-inline: auto;
  overflow: hidden;
}
@media (min-width: 992px) {
  body[data-page=crew] .crew .container .content .info .info-cont {
    margin-bottom: 120px;
    margin-inline: 0;
    min-height: 271px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=crew] .crew .container .content .info .info-cont {
    margin-bottom: 40px;
    min-height: 232px;
  }
}
body[data-page=crew] .crew .container .content .info .info-cont .box .role {
  opacity: 50.42%;
}
body[data-page=crew] .crew .container .content .info .info-cont .box .role,
body[data-page=crew] .crew .container .content .info .info-cont .box .name {
  text-transform: uppercase;
}
body[data-page=crew] .crew .container .content .info .info-cont .box .name {
  margin: 8px 0 16px;
}
@media (min-width: 992px) {
  body[data-page=crew] .crew .container .content .info .info-cont .box .name {
    margin: 15px 0 27px;
  }
}
body[data-page=crew] .crew .container .content .info .info-cont .box .bio {
  color: rgb(208, 214, 249);
}
@media (min-width: 992px) {
  body[data-page=crew] .crew .container .content .info .info-cont .box .bio {
    max-width: 444px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=crew] .crew .container .content .info .info-cont .box .bio {
    max-width: 485px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  body[data-page=crew] .crew .container .content .info .slider-1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}
@media (min-width: 992px) {
  body[data-page=crew] .crew .container .content .info .slider-1 {
    justify-content: flex-start;
    margin-bottom: 94px;
  }
}

body[data-page=technology] .technology .container .content .left .tech .box, body[data-page=technology] .technology .right .box {
  transition: translate 0.5s;
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 992px) {
  body[data-page=technology] .technology .container .content .left .tech .box, body[data-page=technology] .technology .right .box {
    translate: 0 100vw;
  }
}
@media (max-width: 991px) {
  body[data-page=technology] .technology .container .content .left .tech .box, body[data-page=technology] .technology .right .box {
    translate: 100vw 0;
  }
}
body[data-page=technology] .technology .container .content .left .tech .showed.box, body[data-page=technology] .technology .right .showed.box {
  position: static;
  translate: 0;
}
body[data-page=technology] .technology .container .content .left .tech .slided.box, body[data-page=technology] .technology .right .slided.box {
  translate: 0 -100vw;
}
@media (max-width: 991px) {
  body[data-page=technology] .technology .container .content .left .tech .slided.box, body[data-page=technology] .technology .right .slided.box {
    translate: -100vw 0;
  }
}

body[data-page=technology] {
  overflow-x: hidden;
  padding-bottom: 81px;
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=technology] {
    padding-bottom: 92px;
  }
}
@media (min-width: 992px) {
  body[data-page=technology] {
    padding-bottom: 101px;
  }
}
body[data-page=technology] .technology {
  text-align: center;
  padding-top: 24px;
}
@media (min-width: 992px) {
  body[data-page=technology] .technology {
    text-align: left;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=technology] .technology {
    padding-top: 40px;
  }
}
@media (min-width: 992px) {
  body[data-page=technology] .technology {
    padding-top: 76px;
  }
}
body[data-page=technology] .technology .section-head.large {
  display: none;
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=technology] .technology .section-head {
    text-align: left;
    padding-left: 38.5px;
  }
}
@media (min-width: 992px) {
  body[data-page=technology] .technology .section-head.large {
    display: block;
  }
  body[data-page=technology] .technology .section-head.mobile {
    display: none;
  }
}
body[data-page=technology] .technology .right {
  width: 100vw;
  margin-bottom: 34px;
  margin-top: 32px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  body[data-page=technology] .technology .right {
    min-height: 170px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=technology] .technology .right {
    margin-top: 60px;
    margin-bottom: 56px;
    max-height: 310px;
  }
}
@media (min-width: 992px) {
  body[data-page=technology] .technology .right {
    position: absolute;
    width: 515px;
    max-height: 527px;
    right: 0;
    top: 272px;
    margin-bottom: 0;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  body[data-page=technology] .technology .right {
    width: 320px;
    top: 338px;
  }
}
body[data-page=technology] .technology .right .box img {
  width: 100%;
  display: block;
}
@media (max-width: 991px) {
  body[data-page=technology] .technology .right .box .large {
    display: none;
  }
}
@media (min-width: 992px) {
  body[data-page=technology] .technology .right .box .mobile {
    display: none;
  }
}
@media (min-width: 992px) {
  body[data-page=technology] .technology .container .content .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 137px;
    column-gap: 80px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  body[data-page=technology] .technology .container .content .left {
    column-gap: 50px;
  }
}
body[data-page=technology] .technology .container .content .left .tech {
  position: relative;
  margin-top: 26px;
  overflow: hidden;
}
@media (max-width: 767px) {
  body[data-page=technology] .technology .container .content .left .tech {
    min-height: 220px;
  }
}
@media (min-width: 992px) {
  body[data-page=technology] .technology .container .content .left .tech {
    height: 303px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=technology] .technology .container .content .left .tech {
    margin-top: 44px;
    height: 237px;
  }
}
body[data-page=technology] .technology .container .content .left .tech .box span,
body[data-page=technology] .technology .container .content .left .tech .box .name {
  text-transform: uppercase;
}
body[data-page=technology] .technology .container .content .left .tech .box span,
body[data-page=technology] .technology .container .content .left .tech .box .description {
  color: rgb(208, 214, 249);
}
body[data-page=technology] .technology .container .content .left .tech .box .name {
  margin: 9px 0 16px;
}
@media (min-width: 992px) {
  body[data-page=technology] .technology .container .content .left .tech .box .name {
    margin: 17px 0 11px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=technology] .technology .container .content .left .tech .box .name {
    margin-top: 16px;
  }
}
@media (min-width: 992px) {
  body[data-page=technology] .technology .container .content .left .tech .box .description {
    max-width: 444px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  body[data-page=technology] .technology .container .content .left .tech .box .description {
    max-width: 458px;
    margin-inline: auto;
  }
}
@media (max-width: 767px) {
  body[data-page=technology] .technology .container .content .left .tech .box .description {
    max-width: 327px;
    margin-inline: auto;
  }
}

/*# sourceMappingURL=index.css.map */
