section.crew 
    .container 
        h2.section-head #[span 02]meet your crew
        .right 
            img(src="./assets/crew/image-douglas-hurley.png", alt="")
        .left 
            .content 
                span.role.f-600 commander 
                h2.name.f-700 douglas hurley 
                p.bio.f-400
                    . 
                        Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He launched into space for the third time as commander of Crew Dragon Demo-2.
            ul.slider-1 
                li.active 
                li 
                li 
                li