section.crew 
    .container 
        h2.section-head #[span 02]meet your crew
        .content 
            .img
            .info
                .info-cont

                ul.slider-1 
                    li.active(data-name="Douglas Hurley" id=0)
                    li(data-name="Mark Shuttleworth" id=1) 
                    li(data-name="Victor Glover" id=2) 
                    li(data-name="Anousheh Ansari" id=3)