section.destination 
    .container
        .left 
            h2.section-head #[span 01]pick your destination
            .img 
                img
        .right 
            ul.tabs.f-300 
                li.active(data-dest="moon") #[a(href='#') moon ] 
                li(data-dest="mars") #[a(href='#') mars ]  
                li(data-dest="europa") #[a(href='#') europa ] 
                li(data-dest="titan") #[a(href='#') titan ] 
            .content 
                h2.name.f-800
                p.description.f-400 
                .measures 
                    .distance 
                        span.label.f-200 avg. distance
                        span.num.f-500 
                    .travel-time
                        span.label.f-200 est. travel time
                        span.num.f-500