section.destination 
    .container
        .left 
            h2.section-head #[span 01]pick your destination
            .img 
                img(src="./assets/destination/image-moon.png", alt="")
        .right 
            ul.tabs.f-300 
                li moon 
                li mars 
                li europa 
                li titan
            .content 
                h2.name.f-800 moon 
                p.description.f-400 
                    . 
                        See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.
                .measures 
                    .distance 
                        span.label.f-200 avg. distance
                        span.num.f-500 384,400 km
                    .travel-time
                        span.label.f-200 est. travel time
                        span.num.f-500 3 days