section.home 
    .container 
        .left
            h1 
                span.f-500-ls.first-sent so, you want to travel to 
                span.f-900.space space
            p.f-400.body Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!
        .right 
            button.main-btn.f-600 explore