section.technology
    h2.section-head.mobile #[span 03]space launch 101
    .right

    .container 
        h2.section-head.large #[span 03]space launch 101
        .content 
            .left 
                ul.slider-2.f-600
                    li.active(data-id=0 , data-name='Launch vehicle') #[a(href="#") 1]
                    li(data-id=1 , data-name='spaceport') #[a(href='#') 2]
                    li(data-id=2 , data-name='Space capsule') #[a(href="#") 3]
                .tech
