@use "../variables/colors" as *;
@use "../helper/globalMixins" as *;
@use "../variables/dimensions" as *;

/*
  the design need to restyled
  there is overflow on slide on mobile media
*/
%slide {
  translate: -100vw;
  transition: 0.5s;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  &.showed {
    position: static;
    translate: 0;
  }
  &.slided {
    translate: 100vw;
  }
}
body[data-page="crew"] {
  position: relative;
  overflow-x: hidden;
  @include medias("mobile") {
    padding-bottom: 104px;
  }
  .crew {
    .container {
      text-align: center;
      padding-top: 24px;
      @include medias("small") {
        padding-top: 40px;
      }
      @include medias("more small") {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 76px;
      }

      .content {
        @include medias("small") {
          display: flex;
          flex-direction: column-reverse;
          justify-content: space-between;
        }
        @include medias("more small") {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: flex-end;
        }
        @include medias("small") {
          margin-top: 60px;
        }
        .img {
          position: relative;
          overflow: hidden;
          display: flex;
          align-items: flex-end;
          @include medias("mobile") {
            justify-content: center;
            margin: 32px auto 33px;
            border-bottom: 1px solid rgb($border-color);
            padding-inline: 74.62px;
            max-width: 327px;
            min-height: 200px;
          }
          @include medias("small") {
            width: 456.37px;
            margin-inline: auto;
            min-height: 572px;
          }
          @include medias("more small") {
            width: 568.07px;
            height: 712px;
          }
          img {
            display: block;
            width: fit-content;
            @include medias("small") {
              transform: translateY(40px);
              margin-inline: auto;
            }
            @include medias("mobile") {
              transform: translateY(10px);
            }
            object-fit: contain;
            min-width: 88px;
            @extend %slide;
          }
        }
        .info {
          position: relative;
          @include medias("mobile") {
            padding-top: 42px;
          }
          @include medias("more small") {
            margin-top: 154px;
          }
          .info-cont {
            position: relative;
            width: 100%;
            min-height: 237px;
            margin-inline: auto;
            overflow: hidden;

            @include medias("more small") {
              margin-bottom: 120px;
              margin-inline: 0;
              min-height: 271px;
            }
            @include medias("small") {
              margin-bottom: 40px;
              min-height: 232px;
            }
            .box {
              @extend %slide;
              .role {
                opacity: 50.42%;
              }
              .role,
              .name {
                text-transform: uppercase;
              }
              .name {
                margin: 8px 0 16px;
                @include medias("more small") {
                  margin: 15px 0 27px;
                }
              }
              .bio {
                color: rgb($second-color);
                @include medias("more small") {
                  max-width: 444px;
                }
                @include medias("small") {
                  max-width: 485px;
                  margin: 0 auto;
                }
              }
            }
          }
          .slider-1 {
            @include medias("mobile") {
              @include centerbyposition("horizontal", absolute);
              top: 0;
            }
            @include medias("more small") {
              justify-content: flex-start;
              margin-bottom: 94px;
            }
          }
        }
      }
    }
  }
}
