@use "../helper/globalMixins" as *;
@use "../components/fonts" as *;
@use "../variables/colors" as *;
@use "../variables/fonts" as *;
@use "../variables/dimensions" as *;

body[data-page="home"] {
  padding-bottom: 48px;
  @include medias("more small") {
    padding-bottom: 131px;
  }
  @include medias("small") {
    padding-bottom: 90px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 48px;
    @include medias("more small") {
      flex-direction: row;
      align-items: flex-end;
      padding-top: 251px;
    }
    @include medias("small") {
      padding-top: 106px;
    }
    @include medias("mobile") {
      justify-content: space-around;
    }

    p {
      margin: 0;
      color: rgb($second-color);
    }
    .left {
      h1 {
        span {
          display: block;
        }
        span.first-sent {
          text-transform: uppercase;
        }
        span.space {
          margin-block: 16px;
          text-transform: uppercase;
        }
      }
      p.body {
        max-width: 444px;
      }
    }
    .right {
      .main-btn {
        @include medias("large") {
          margin-right: 30px;
        }
        @include medias("small") {
          margin-top: 156px;
        }
        @include medias("mobile") {
          margin-top: 81px;
        }
      }
    }
  }
}
